@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

.register{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  padding-top: 10px;
}
.logo-register {
  height: 150px;
  margin-bottom: 1px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70vw;
}

.label-register {
  font-family: "Ubuntu", sans-serif;
  margin: 5px auto;
  color: white;
  font-size: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 4vh;
  margin: 5px auto;
  background-color: #2c5306;
  color: white;
  border-radius: 10px;
  font-size: 17px;
}

.button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
.header {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

.register-input {
  margin: auto;
  width: 25vw;
  height: 30px;
  border-radius: 8px;
}
.input:hover {
  cursor: text;
}
.input:focus {
  outline: none !important;
  border-bottom: 3px solid olive;
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .register{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 100px auto;
      padding-top: 10px;
    }
    .logo-register {
      height: 150px;
      margin-bottom: 1px;
    }
  
    .form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 70vw;
    }
  
    .label-register {
      font-family: "Ubuntu", sans-serif;
      margin: 5px auto;
      color: white;
      font-size: 20px;
    }
  
    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 20vw;
      height: 4vh;
      margin: 5px auto;
      background-color: #2c5306;
      color: white;
      border-radius: 10px;
      font-size: 17px;
    }
  
    .button:hover {
      cursor: pointer;
    }
  
    a {
      text-decoration: none;
    }
    .header {
      font-family: "Ubuntu", sans-serif;
      color: white;
      font-size: 25px;
      text-align: center;
      margin: 10px;
    }
  
    .register-input {
      margin: auto;
      width: 25vw;
      height: 30px;
      border-radius: 8px;
    }
    .input:hover {
      cursor: text;
    }
    .input:focus {
      outline: none !important;
      border-bottom: 3px solid olive;
    }


   }

@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .register{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 200px auto;
      padding-top: 10px;
    }
    .logo-register {
      height: 260px;
      margin-bottom: 1px;
    }
  
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70vw;
    }
  
    .label-register {
      font-family: "Ubuntu", sans-serif;
      margin: 5px auto;
      color: white;
      font-size: 30px;
    }
  
    .button-reg {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40vw;
      height: 5vh;
      margin: 5px auto;
      background-color: #2c5306;
      color: white;
      border-radius: 10px;
      font-size: 37px;
    }
  
    .button:hover {
      cursor: pointer;
    }
  
    a {
      text-decoration: none;
    }
    .header {
      font-family: "Ubuntu", sans-serif;
      color: white;
      font-size: 40px;
      text-align: center;
      margin: 10px;
    }
  
    .register-input {
      margin: auto;
      width: 55vw;
      height: 60px;
    }
    .input:hover {
      cursor: text;
    }
    .input:focus {
      outline: none !important;
      border-bottom: 3px solid olive;
    }

  }

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .register{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding-top: 10px;
  }
  .logo-register {
    height: 150px;
    margin-bottom: 1px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
  }

  .label-register {
    font-family: "Ubuntu", sans-serif;
    margin: 5px auto;
    color: white;
    font-size: 15px;
  }

  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    height: 4vh;
    margin: 5px auto;
    background-color: #2c5306;
    color: white;
    border-radius: 10px;
    font-size: 17px;
  }

  .button:hover {
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }
  .header {
    font-family: "Ubuntu", sans-serif;
    color: white;

    font-size: 20px;
    text-align: center;
    margin: 10px;
  }

  .register-input {
    margin: auto;
    width: 55vw;
    height: 25px;
  }
  .input:hover {
    cursor: text;
  }
  .input:focus {
    outline: none !important;
    border-bottom: 3px solid olive;
  }

}